<div class="icon-container fixed hidden w-full justify-center px-4 items-center h-full md:px-0"> 

  <div class="icon-list-container  -mt-32 rounded-md shadow-lg bg-white  flex flex-col pb-2  items-center md:w-2/6 md:h-2/6 ">
    <header class='flex w-full justify-center bg-blue-400 py-2 px-7 items-center overflow-hidden relative mb-4'>
        <h1 class="text-xl">Choose an Icon</h1>
        <span class="popup-close-btn absolute top-1 right-3 hover:cursor-pointer"><i class="fa-solid fa-xmark fa-2x border-2 border-red-500 p-1/2 px-1 text-red-800"></i></span>
    </header>
    
    <ul class="icons-list flex gap-2 flex-wrap px-4 justify-center">
        <li class="icon"><i class="fa-solid fa-palette fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-utensils fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-cart-shopping fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-gamepad fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-dumbbell fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-house fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-phone fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-paw fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-laptop fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-car fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-plane fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-file-invoice-dollar fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-shirt fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-mug-hot fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-gift fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-camera-movie fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-folder fa-2x"></i></li>
        <li class="icon"><i class="fa-brands fa-dribbble fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-camera-retro fa-2x"></i></li>
        <li class="icon"><i class="fa-solid fa-music fa-2x"></i></li>
        
    </ul>
  </div>
  
</div>