<section class="splash-container w-7 flex jusctify-center align-center bg-white-300">
  <div class="header">
    <h2 class="site-name">MoneyMate</h2>
    <p class="description">All your transactions in one place</p>
  </div>
  <div class="links-container">
    <%= link_to 'Login', new_user_session_path, class: 'btn primary-color' %> 
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn'%>
  </div>
</section>
