.primary-color {
  background-color: #3778c2;
}

.secondary-color {
  background-color: #5fb523;
}

.last-color {
  background-color: #434b54;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
}
